# Node files
/node_modules

#logs files
/logs
*.log

# config files
/config/default.json
/config/social-media-3eec4-firebase-adminsdk-fbsvc-5cdabda973.json

# now not uploading because working on it
/services/twilioRoom.js

# helper file
README.md