<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Social Media</title>

        <style type="text/css" media="screen">
            body {
                background-color: rgb(85, 97, 101);
                color: white;
                font-size: 40px;
                text-align: center;
                padding: 10px;
            }
            input {
                font-size: 25px;
                padding: 8px;
                margin: 10px;
            }
            button {
                font-size: 20px;
                padding: 13px;
                background-color: rgb(0, 0, 0);
                color: white;
                border: none;
                cursor: pointer;
            }
            button:hover {
                background-color: rgb(81, 125, 81);
            }
        </style>

        <script>
            async function makeCall() {
                const phoneNumber = document.getElementById('recipientNumber').value;
            
                if (!phoneNumber) {
                    alert("Please enter a phone number.");
                    return;
                }
                
                try {
                    let response = await fetch(`/api/call/?phoneNumber=+91${phoneNumber}`, {
                        method: "POST", 
                        headers: { "Content-Type": "application/json" }
                    });

                    let data = await response.json();

                    // console.log("Response Data:", data);

                    if (data.statusCode === 200) {
                        alert("Call initiated successfully! Call SID: " + data.data.CallerSid);
                    } else {
                        alert("Error: " + data.error);
                    }
                } catch (error) {
                    alert("Error making call: " + error.message);
                }
            }

            async function addParticipant() {
                const phoneNumber = document.getElementById('participantNumber').value;
            
                if (!phoneNumber) {
                    alert("Please enter a phone number.");
                    return;
                }
                
                try {
                    let response = await fetch(`/api/call/addParticipant?phoneNumber=+91${phoneNumber}`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" }
                    });

                    let data = await response.json();
                    console.log("Conference Response Data: ", data);

                    if (data.statusCode === 200) {
                        alert("Participant Added successfully! Call SID: " + data.data.CallerSid);
                    } else {
                        alert("Error: " + data.error);
                    }
                } catch (error) {
                    alert("Error making call: " + error.message);
                }
            }
        </script>
    </head>

    <body>
        <h2> Twilio Call Feature </h2>
        
        <label> Enter Phone Number: </label>
        <input type = "text" id = "recipientNumber" placeholder = "Enter recipient number" >
        
        <button onclick = "makeCall()" > Call </button>
        
        <br>
        <br>

        <label> Enter Participant Phone Number: </label>
        <input type = "text" id = "participantNumber" placeholder = "Enter participant number" >
        <button onclick = "addParticipant()" > Add participant </button>
    </body>
</html>